# AdMob Configuration
VITE_ADMOB_BANNER_ID=ca-app-pub-2742233269558530/5920257382
VITE_ADMOB_INTERSTITIAL_ID=ca-app-pub-2742233269558530/2520068427
VITE_ADMOB_REWARDED_ID=

# Environment Mode
VITE_APP_MODE=production # or development
